---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <center>
    <h1 class="page-heading">{{ page.title }}</h1>
  </center>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3 class="h3-home">
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape | markdownify | strip_html }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {%- if post.content.size > post.excerpt.size -%}
          {{ post.excerpt | markdownify | strip_html }} <a href="{{ post.url }}">... Lees verder ></a>
          {%- endif -%}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
